openai
langchain
langchain-core
langchain-openai
langchain-text-splitters
langchain-community
langgraph
chromadb
deepeval
nest-asyncio
tiktoken
pandas
numpy
matplotlib
scikit-learn
pydantic
python-dotenv
tavily-py
